:root {
   --sizeBlock: 100px;
   --fontSize: 70px;
}

* {
   font-size: var(--fontSize);
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   position: relative;
   margin: 4px auto;
   padding: 0;

   width: calc(4 * var(--sizeBlock));
   height: calc(4 * var(--sizeBlock));

   outline: 4px solid black;
}

.blocks {
   position: absolute;
   display: flex;

   justify-content: center;
   align-items: center;
   width: var(--sizeBlock);
   height: var(--sizeBlock);
   overflow: hidden;

   background-color: hsl(100, 80%, 50%);
   border-radius: 20%;

   transition: 0.2s;
}

/* .score-board {
   position: relative;
   margin: 4px auto;
   padding: 10px;

   width: calc(4 * var(--sizeBlock));
   height: calc(1 * var(--sizeBlock));

   outline: 4px solid rgb(73, 4, 42);
} */