:root {
   --sizeBlock: 100px;
   --fontSize: 50px;
}

* {
   font-size: var(--fontSize);
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   position: relative;
   margin: 4px auto;
   padding: 0;

   width: calc(4 * var(--sizeBlock));
   height: calc(4 * var(--sizeBlock));

   outline: 4px solid black;
}

.blocks {
   position: absolute;
   display: flex;

   justify-content: center;
   align-items: center;
   width: var(--sizeBlock);
   height: var(--sizeBlock);
   overflow: hidden;

   background-color: hsl(100, 80%, 50%);
   border: 10px solid white;
   border-radius: 20%;

   transition: 0.2s;
}

 .score-board {
   display: flex;
   position: relative;

   justify-content: center;
   align-items: center;
   margin: 15px auto;
   padding: 10px;
   width: calc(4 * var(--sizeBlock));
   height: calc(1 * var(--sizeBlock));

   outline: 4px solid black;
}

.score {
   position: absolute;
   top: 50%;
   transform:translateY(-50%);

   padding-left: 20px;
}

.score span {
   padding-left: 0.5em;
}

.progress {
   position: absolute;
   
   width: 0;
   max-width: 400px;
   height: 80%;
   left: 1px;
   right: 0;

   margin: 0.2em 0;
}