:root {
   --sizeBlock: 100px;
   --fontSize: 80px;
}

* {
   font-size: var(--fontSize);
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

.container {
   position: relative;
   margin: 4px auto;
   padding: 0;

   width: calc(4 * var(--sizeBlock));
   height: calc(4 * var(--sizeBlock));

   outline: 4px solid black;
}

.blocks {
   position: absolute;
   display: flex;

   justify-content: center;
   align-items: center;
   width: var(--sizeBlock);
   height: var(--sizeBlock);
   overflow: hidden;

   outline: 4px solid rgb(55, 73, 4);
   background-color: hsl(100, 98%, 46%);

   transition: 0.1s;
}