.button {
   border: 1px solid var(--color-gold);
   cursor: pointer;
   width: 220px;
   height: 55px;
   padding: 7px 20px;
   background-color: var(--color-gold);
   color: var(--color-black);
   font-family: inherit;
   font-size: 20px;
   line-height: 40px; 
   transition: 0.2s;
}

.button:hover {
   color: var(--color-white);
}

.btn__portfolio {
   background-color: var(--color-black);
   color: var(--color-gold);
}

.btn__portfolio:hover {
   color: var(--color-white);
}

.btn__active {
   background-color: var(--color-gold);
   color: var(--color-black);
}