.section-contacts {
   position: relative;
   height: 700px;
   margin-top: 62px;
   padding-top: 60px;
   padding-right: 20px;
   background-image: url('../assets/img/Contacts/contacts.jpg');
}

.contacts-container {
   position: relative;
   width: 450px;
   height: 445px;
   margin-left: auto;
}

.contacts-title {
   position: relative;
   overflow: hidden;
   height: 80px;

}

.contacts-form {
   position: relative;
   padding-top: 40px;
   height: 400px;
}

.input { 
   outline: 2px solid var(--color-gold);
   transition: 0.2s;
}

.input input,
.textarea {
   padding: 10px 20px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.3);
   
   font-family: 'Inter', sans-serif;
   color: var(--color-gold);
   font-size: 20px;
   line-height: 28px;
   resize: none;
   border: none;
   transition: 0.2s;
}
.textarea {
   height: 95px;
}

.input input:hover,
.textarea:hover,
.input input:focus,
.textarea:focus{
   outline: 3px solid var(--color-gold);
}

.input input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder{
   color: var(--color-gold);
}

.input__margin {
   margin-bottom: 23px;
}

.contact-btn__padding {
   padding-top: 7px;
}