.section-contacts {
   position: relative;
   height: 700px;
   padding-top: 60px;
   padding-right: 20px;
   background-image: url('../assets/img/Contacts/contacts.jpg');
}

.contacts-container {
   position: relative;
   width: 450px;
   height: 445px;
   margin-left: auto;
}

.contacts-title {
   position: relative;
   overflow: hidden;
   height: 80px;

}

.contacts-form {
   position: relative;
   padding-top: 40px;
   height: 400px;
}

/* ========= общий класс для всех инпутов ========= */
.input { 
   outline: 2px solid #bdae82;
}

.input input,
.input textarea {
   padding: 10px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.1);
   
   font-family: 'Inter', sans-serif;
   color: #bdae82;
   font-size: 20px;
   line-height: 40px;
   resize: none;
   border: none;
}

.input input:hover,
.input textarea:hover,
.input input:focus,
.input textarea:focus{
   outline: 3px solid #bdae82;
}

.input input::-webkit-input-placeholder,
.input textarea::-webkit-input-placeholder{
   color: #bdae82;
}
/* ================== */

.input__margin {
   margin-bottom: 30px;
}