.footer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   position: relative;
   height: 150px;
   padding-left: 20px;
}

.footter-text {
   font-family: 'Inter', sans-serif;
   font-size: 20px;
   font-weight: normal;
   line-height: 50px;
   color: var(--color-white);
   text-decoration: none;
}
.footter-text:hover {
   color: var(--color-gold);
}

.copyright {
   word-spacing: 15px;
}

.social-wrapper {
   position: relative;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   width: 188px;
   height: 50px;
   padding-right: 20px;
}

.social-li {
   width: 35px;
   height: 28px;
   margin-left: 20px;
}

.social-svg {
   fill: var(--color-white);
}

.social-svg:hover {
   fill: var(--color-gold);
}


li a {
   display: inline-block;
   width: 100%;
   height: 100%;
}

.social__margin {
   margin-right: 20px;
}





@media (max-width: 768px) {
   .footer {
      flex-direction: column;
      justify-content: flex-start;
      height: 190px;
      padding-left: 0;
      padding-top: 30px;
   }

   .footter-text {
      line-height: 25px;
   }
   
   .copyright {
      padding-bottom: 15px;
   }

   .social-wrapper {
      justify-content: center;
      padding-right: 20px;
      margin-top: 20px;
   }
   
}