.header-container {
   display: flex;
   padding: 20px 0 ;
   height: 90px;
}

.bg {
   background-image: url('../assets/img/bg.jpg');
   background-repeat: no-repeat;
   background-size: 1440px;
   position: relative;
   background-position: center 0;
}

.focus:focus {
   color: var(--color-gold);
   outline: 1px solid var(--color-gold);
   border-radius: 5px;
   background-color: rgba(0, 0, 0, 0.3);
}

.header-logo {
   margin-left: 20px;
   height: 50px;
}

.header-nav {
   margin-left: auto;
   overflow: hidden;
   height: 100%;
}

.nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style: none;
   height: 100%;
}

.nav-link {
   padding: 0 15px;
   line-height: 50px;
   text-decoration: none;
   font-size: 20px;
   color: var(--color-white);
}

.nav-link:hover {
   color: var(--color-gold);
}

.nav-list li {
   height: 100%;
}

.nav-list a {
   height: 100%;
}

.nav-link__last {
   padding-right: 11px;
}

.header-swith-language {
   height: 50px;
   width: 70px;
   margin: 0 20px 0 20px;
}
