.main-hero {
   padding-top: 182px;
   height: 820px;
}

.hero {
   padding-left: 80px;
   width: 550px;
   overflow: hidden;
}

.hero-text {
   font-size: 20px;
   line-height: 40px;
   color: var(--color-white);
   padding-bottom: 5px;
}


