.section-portfolio {
   padding-top: 100px;
}
.portfolio-btn-wrapper {
   position: relative;
   margin: 0 auto;
   padding-top: 60px;
   text-align: center;
}

.portfolio-items {
   display: flex;
   flex-wrap: wrap;
   padding-top: 61px;
   padding-left: 20px;
   gap: 25px;
}