
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */

@import "header.css";
@import "hero.css";
@import "skills.css";
@import "portfolio.css";
@import "video.css";
@import "price.css";
@import "contacts.css";
@import "footer.css";

:root {
   --color-gold: #bdae82;
   --color-black: #000000;
   --color-white: #ffffff;
}

* {
   box-sizing: border-box;
 }

 html {
   scroll-behavior: smooth; 
 }

body {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   margin: 0;
   padding: 0;
   background-color: var(--color-black);
}

.wrapper {
   min-height: 100vh;
   max-width: 1440px;

   margin: 0 auto;

   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}

.section-title {
   font-family: 'Merriweather', serif;
}

.section {
   position: relative;
   color: var(--color-white);
   padding-top: 100px;
}


.bg {
   background-image: url('../assets/img/bg.jpg');
   background-repeat: no-repeat;
   background-size: 1440px;
   position: relative;
   background-position: center 0;
}

.bg-90px {
   background-position: center -90px;
}


/* ========= h1 icon btn ul =============== */
h1 {
   margin: 0;
   font-family: 'Merriweather', serif;
   font-size: 60px;
   padding-bottom: 13px;
}

h2 {
   display: inline-block;
   position: relative;
   overflow: hidden;
   margin: 0;
   padding: 0 22px;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Merriweather', serif;
   font-size: 40px;
   font-weight: bold;
   line-height: 80px;
   text-align: center;
   color: var(--color-gold);
   background-color: var(--color-black);
}

h3 {
   margin: 0;
   font-family: 'Merriweather', serif;
   font-size: 40px;
   font-weight: bold;
   line-height: 80px;
   color: var(--color-gold);
}

.icon {
   fill: var(--color-white);
}

.icon:hover {
   fill: var(--color-gold);
}

.btn {
   border: 1px solid var(--color-gold);
   cursor: pointer;
   width: 220px;
   height: 55px;
   background-color: var(--color-gold);
   font-family: inherit;
   color: var(--color-black);
   font-size: 20px;
   line-height: 40px; 
}

.btn:hover {
   color: var(--color-white);
}

.btn__skills {
   background-color: var(--color-black);
   color: var(--color-gold);
}

.btn__skills:hover {
   background-color: var(--color-gold);
   color: var(--color-black);
}

ul {
   margin: 0;
}

.visually-hidden {
   position: absolute;
   top: -100%;
}

.section-title {
   width: 700px;
   height: 80px;
   margin: 0 auto;
}

.section-title::before {
   content: '';
   display: block;
   position: relative;
   width: 700px;
   height: 2px;
   top: 40px;
   background-color: var(--color-gold);
}

.title-wrapper {
   position: relative;
   display: block;
   margin: 0 auto;
   height: 80px;
   background-color: var(--color-black);
}

a {
   text-decoration: none;
}