.section-video {
   padding-top: 95px;
}

.video-wrapper {
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 765px;
   padding: 64px 20px 0px 20px;
}

.video-btn {
   position: absolute;
}

.video-btn a {
   height: 130px;
   width: 130px;
}
